* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1.5rem;
  background-color: #0e0d0d;
}

header nav ul {
  color: whitesmoke;
  list-style: none;
  display: flex;
  gap: 1rem;
}

header nav ul li a {
  text-decoration: none;
  font-size: 1.5em;
  color: #fff;
}

footer {
  text-align: center;
  color: #fff;
  margin-top: 1.5;
  background-color: #0e0d0d;
  height: 30px;
}
